@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Here are examples of DI types</p>
            <div class="row">
                <div class="col-md-4 offset-4">
                    <a asp-action="Singleton" class="btn btn-primary full-width">Singleton</a>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-4 offset-4">
                    <a asp-action="Scoped" class="btn btn-primary full-width">Scoped</a>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-4 offset-4">
                    <a asp-action="Transient" class="btn btn-primary full-width">Transient</a>
                </div>
            </div>
        </div>
    </div>
</div>

